@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(reset.css);


body{
  font-family: "Poppins", sans-serif;
  font-size: 13px; /* default 16px */
  line-height: 21px;
}

.container{
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
}

.btn.btn{
  width: 100%;
  background-color: #7E57C2;
  line-height: 50px;
  height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  /* font-family: "poppins"; */
}

form input::placeholder{
  font-family: "Poppins", sans-serif;
}

form input[value]{
  font-family: "Poppins", sans-serif;
}
/* text-aline */
.text-left{
  text-align: left;
}
.text-center{text-align: center;}
.text-right{text-align: right;}


.main-tt{
  font-size: 32px;
  line-height: 48px;
}

/* welcome */
.welcome{
  height: 100vh;
  background: url(../images/welcome_bg.png) no-repeat center center;
  background-size: cover;
  padding-top: 134px;
}

.welcome h1{
  color: #fff;
}

.welcome h1+p{
  /* padding: 0 35px; */
  margin-top: 127px;
  font-size: 21px;
  color: #fff;
  line-height: 34px;
  margin-bottom: 127px;
  width: 305px;
  margin-left: auto;
  margin-right: auto;
}


.sign_links a:first-child{
  margin-bottom: 20px;
}

/* Sign in */
.sign_in{
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background: url(../images/sign_in_bg.jpg) no-repeat center;
  background-size: cover;
}

.sign_in::before{
  content: "";
  position: absolute;
  left: 0;top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}



.sign_in h2{
  position: relative;
  color: #fff;
  padding-top: 92px;
  z-index: 5;
}

[class^='sign'] form{
  position: relative;
  margin-top: 116px;
}

[class^='sign'] form label{
  display: none;
}

[class^='sign'] form input{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  background-color:rgba(238,238,238,0.4);
  backdrop-filter: blur(2px);
  outline: none; /* 클릭했을때 아웃라인 사라지게 함. */
  padding: 0 20px;
  box-sizing: border-box;
  /* margin-bottom: 25px; */
  color: #fff;
  font-size: 16px;
}

[class^='sign'] form input::placeholder{
  color: #fff;
  /* font-family: "poppins"; */
  font-weight: 100;
}

[class^='sign'] form p:not(:last-child){
  margin-bottom: 25px;
}

.signin_links{
  position: relative;
  margin-top: 25px;
}
.signin_links a{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.signin_links a:nth-child(1){
  margin-bottom: 25px;
}

/* --------sign up------- */
.sign_up{
  position: relative;
  height: 100vh;
  background: url(../images/sign_up_bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 92px;
  box-sizing: border-box;
}

.sign_up::before{
  content: "";
  position: absolute;
  left: 0;top: 0;
  width: 100%;height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.sign_up .container{position: relative;}
.sign_up h2{
  color: #fff;
}

.sign_up form{
  margin-top: 60px;
}

.sign_up .signin_links{
  margin-top: 30px;
}


/* ----------shop---------- */

header{
  background-color: #7E57C2;
  height: 50px;
  position: relative;
}

header>h2{
  font-size: 17px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
header>img{
  position: absolute;
  top: 50%; transform: translateY(-50%);
}
header>img.menu_icon_left{
  left: 25px;
}
header>img.menu_icon_right{
  right: 25px;
}

.top_product{
  padding: 25px 25px 0 0;
  position: relative;
  /* margin-top: 25px; */
  /* width: 350px;
  height: 250px; */
}

.top_product img{
  width: 100%;
}

.top_product .info{
  left: 50px;
  padding: 10px 20px 12px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: -40px;
  /* width: 325px;
  height: 75px; */
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  /* box-shadow: x값 y값 blur spread color; */
}
.top_product .info h2{
  color: #757575;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
  /* text-shadow: x값 y값 blur color; */
}
.top_product .info .desc{}
.top_product .info .desc .price{
  color: #7e57c2;
  line-height: 21px;
  font-size: 13px;
}
.top_product .info .desc .rate{
  color: #7e57c2;
  font-size: 13px;
  line-height: 21px;
  position: absolute;
  right: 30px;
  bottom: 12px;
}
.top_product .info .desc .rate i{}


/* shop_product_list */

.shop_product{
  overflow: hidden;
  margin-top: 81px;
  padding-left: 25px;
}
.product_list{}
.product_list .swiper-slide{
}
.product_list .swiper-slide img{
  width: 100%;
}
.product_list .swiper-slide h3{
  margin-top: 15px;
  font-size: 16px;
  line-height: 25px;
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product_list .swiper-slide h4{
  font-size: 13px;
  line-height: 21px;
  color: #7E57C2;
}


/* categories */

.category_slide{
  position: relative;
}
.swiper-wrapper{}
.swiper-wrapper .swiper-slide{}
.swiper-wrapper .swiper-slide img{
  width: 100%;
}
.swiper-pagination.swiper-pagination{
  bottom: 15px;
}
