* {
  margin: 0;
  padding: 0;
}

.전체 {
  background-color: #FFD93D;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* 넓이는 부모의 넓이를 따라간다
높이는 자식의 높이를 따라간다 */

.전체 .자식1 {
  width: 25%;
  background-color: #DDFFBB;
  float: left;
}

.전체 .자식2 {
  width: 25%;
  background-color: #C7E9B0;
  float: left;
}

.전체 .자식3 {
  width: 25%;
  background-color: #A4BC92;
  float: left;
}

.전체 .자식4 {
  width: 25%;
  background-color: #B3C99C;
  float: left;
}

.전체 .막내 {
  background-color: blue;
  clear: left;
}

.바닥{background-color: cadetblue;
padding: 20px;
width: 1000px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}
.바닥 .또다른자식{
  width: 32%;
background-color: blanchedalmond;
float: left;
margin-right: 2%;
}
.바닥 .효를중시하는자식3{
  margin-right: 0;
}

.바닥 .불행한막내{
  /* clear: both; */
  clear: left;
}