* {
  margin: 0;
  padding: 0;
}

body{
  padding: 50px;
}

.parent1 /* .parent2 */{
  background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
  width: 500px;
  height: 500px;
}

.parent1 .child {
  width: 100px; height: 100px;
  background-color: chocolate;
  color: aliceblue;
  text-align: center;
  line-height: 100px;
  position: relative;
  left: 100px;
  top: 100px;
  
}

.parent1 .child2 {
  width: 100px; height: 100px;
  background-color: rgb(36, 103, 190);
  color: aliceblue;
  text-align: center;
  line-height: 100px;
  left: 100px;
  top: 100px;
  
}

.parent2 {
  margin-top: 30px;
  position: relative;
  width: 90%;
  height: 600px;
  border: 1px solid gray;
}

.parent2 .child {
  width: 600px; height: 400px;
  background-color: rgb(36, 103, 190);
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* %는 자신이 기준이다. 트렌스레이트는 애니메이팅을 하기위해서 만들어 졌다. */
}

.parent2 .child iframe{ 
  height: 100%;
  position: absolute;
  left: 50%;top: 50%;
  width: 120%;
  transform: translate(-50%,-50%);
}

.parent3 {}

.parent3 .child {}

.parent4 {}

.parent4 .child {}